In [2]:
n = int(input('Enter the number:'))
for i in range(5):
    print(i)

Enter the number: 5

0
1
2
3
4

In [5]:
for i in range(1 ,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
n = int(input('Enter the number:'))
for i in range(11):
    print(i ,'*' , n ,'=' ,i*n )

Enter the number: 10

0 * 10 = 0
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [11]:
n = int(input('Enter the number:'))
for i in range(1,10):
    print(i ,'*' , n ,'=' ,i*n )

Enter the number: 10

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90

In [16]:
print('This is printing table of 2')
for i in range(2 , 21 ,2):
    print(i)

This is printing table of 2
2
4
6
8
10
12
14
16
18
20

In [20]:
n = int(input("Enter the number:"))
for i in range(n , (n*10)+1 , n):
    print('The table of' , n , 'is' ,'=',i)

Enter the number: 10

The table of 10 is = 10
The table of 10 is = 20
The table of 10 is = 30
The table of 10 is = 40
The table of 10 is = 50
The table of 10 is = 60
The table of 10 is = 70
The table of 10 is = 80
The table of 10 is = 90
The table of 10 is = 100

# NESTED FOR LOOP

In [37]:
for i in range(1 , 7):
    for j in range(1,7):
        print(i,j)
        
        print('-')

1 1
-
1 2
-
1 3
-
1 4
-
1 5
-
1 6
-
2 1
-
2 2
-
2 3
-
2 4
-
2 5
-
2 6
-
3 1
-
3 2
-
3 3
-
3 4
-
3 5
-
3 6
-
4 1
-
4 2
-
4 3
-
4 4
-
4 5
-
4 6
-
5 1
-
5 2
-
5 3
-
5 4
-
5 5
-
5 6
-
6 1
-
6 2
-
6 3
-
6 4
-
6 5
-
6 6
-

In [38]:
for i in range(1 , 7):
    for j in range(1,7):
        if(i + j == 12):
            print(i,j)

6 6

In [47]:
number = 0
for i in range(1 , 7):
    for j in range(1,7):
        if(i + j == 8):
            number+=1
            print(i,j)
print(number) 
print(round((number/36)*100,2))

2 6
3 5
4 4
5 3
6 2
5
13.89

In [64]:
for n in range(1,13):
     number = 0
     for i in range(1 , 7):
         for j in range(1,7):
             if(i + j == n):
                number+=1
     print(n, '=' ,round((number/36)*100,2))

1 = 0.0
2 = 2.78
3 = 5.56
4 = 8.33
5 = 11.11
6 = 13.89
7 = 16.67
8 = 13.89
9 = 11.11
10 = 8.33
11 = 5.56
12 = 2.78

In [66]:
for n in range(1,19):
     number = 0
     for i in range(1 , 7):
         for j in range(1,7):
             for k in range(1,7):
                 if(i + j +k == n):
                   number+=1
     print(n, '=' ,round((number/216)*100,2))

1 = 0.0
2 = 0.0
3 = 0.46
4 = 1.39
5 = 2.78
6 = 4.63
7 = 6.94
8 = 9.72
9 = 11.57
10 = 12.5
11 = 12.5
12 = 11.57
13 = 9.72
14 = 6.94
15 = 4.63
16 = 2.78
17 = 1.39
18 = 0.46